* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  background-image: url("/media/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #dfdfdf;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 5000;
}

.cursor2 {
  position: fixed;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 5000;
}
